[pull]
	rebase = true
[push]
	autoSetupRemote = true
[init]
	defaultBranch = main
[core]
	excludesFile = ~/.gitignore
[alias]
	co = checkout
	st = status
	save = !git add -A && git commit -qm 'chore: COMMIT SAVEPOINT'
	undo = reset HEAD~1 --mixed
	recent = branch --sort=-committerdate --format='%(refname:short)'
	wipe = !git add -A && git commit -qm 'chore: WIPE SAVEPOINT' && git reset HEAD~1 --hard
	amend = commit --amend
	cp = cherry-pick
[include]
	path = ~/.gitconfig.user
[includeif "gitdir:~/repos/k-id/"]
	path = ~/repos/k-id/.gitconfig
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	name = Adam Snyder
	email = armsnyder@gmail.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIHEk/T9DJECmLk68Zg4MaToJPRe+3vlCKTQghBUnUpbT
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
